* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: white;
  font-family: "Courier New", Courier, monospace;
  width: 100vw;
  height: 100vh;
  animation: blinkingBackground 2s infinite;
  margin: 0;
}

@keyframes blinkingBackground {
  50% {
    background-color: black;
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}

header {
  display: flex;
  justify-self: center;
  justify-content: center;
}

.skulls {
  background-image: url("./images/skulls.gif");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20vh;
  height: 15vh;
}

h1 {
  margin: 0 10vw;
  padding-top: 3vh;
  padding-bottom: 5vh;
  align-self: center;
  justify-self: center;
}
.contain {
  background-image: url("./images/joshua-rivera-usmhPmT5sj0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.gameBoard__subBoard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  background-image: url("./mario-devil.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.gameBoard__row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.gameBoard__cell {
  background-color: white;
  flex-grow: 1;
  border: solid 5px black;
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
}

.button-section__item {
  margin: 0.3rem;
  /* padding: 0.5rem 1.6rem; */
  border: 0;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.evil-message {
  color: red;
  font-weight: bolder;
}
